.App{
  width: 500px;
  margin: auto;
  background-color: green;
}
h1{
  text-align: center;
}
button{
  width: 100px;
  border: 1px solid green;
  margin: auto;
  align-items: center;
  border-radius: 25px;
  padding: 10px;
}

